@{
    ViewData["Title"] = "ASP.NET Core MVC URL Shortener";
}

<h2>@ViewData["Title"]</h2>

<p>Сервис сокращения ссылок</p>

<h2>[POST] для генерации короткого токена
          [GET] поиск ссылки по токена и редирект</h2>

